<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>12657 S Legacy Springs Dr, Riverton, UT 84096</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "8018642454" %></p>

    <h3>Email</h3>

    <p><a href="mailto:DuskDawnfable@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d886.7850676901942!2d-112.00795697123853!3d40.52161755504807!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x875285038c10f0b5%3A0x9386d7ab3c6238fc!2sLegacy+Springs!5e0!3m2!1sen!2sus!4v1517597558684" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
